@page
@model FFsmart.Pages.UpdateItemModel
@{
    ViewData["Title"] = "Update Item";
}

<section class="container-fluid d-flex flex-column justify-content-center text-center" style="height: 90vh; width: 20rem;">
    <p class="h1">@ViewData["Title"]</p>

    <form method="post">
        <hr />
        <div class="form-floating mb-2">
            <input asp-for="@Model.Item.Id" class="form-control" type="text" readonly />
            <label asp-for="@Model.Item.Id" class="form-label"></label>
            <span asp-validation-for="@Model.Item.Id" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="@Model.Item.Name" class="form-control" type="text" />
            <label asp-for="@Model.Item.Name" class="form-label"></label>
            <span asp-validation-for="@Model.Item.Name" class="text-danger bg-light"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="@Model.Item.Weight" class="form-control" type="number" step="0.01" />
            <label asp-for="@Model.Item.Weight" class="form-label"></label>
            <span asp-validation-for="@Model.Item.Weight" class="text-danger bg-light"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="@Model.Item.ExpirationDate" class="form-control" type="date" />
            <label asp-for="@Model.Item.ExpirationDate" class="form-label"></label>
            <span asp-validation-for="@Model.Item.ExpirationDate" class="text-danger bg-light"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="@Model.Item.DeliveryDate" class="form-control" type="date" />
            <label asp-for="@Model.Item.DeliveryDate" class="form-label"></label>
            <span asp-validation-for="@Model.Item.DeliveryDate" class="text-danger bg-light"></span>
        </div>
        @if (Model.Item.OrderId != null)
        {
            <div class="form-floating mb-2">
                <input asp-for="@Model.Item.OrderId" class="form-control" type="text" />
                <label asp-for="@Model.Item.OrderId" class="form-label"></label>
                <span asp-validation-for="@Model.Item.OrderId" class="text-danger"></span>
            </div>
        }

        <input class="w-100 secondary-btn btn-lg fw-bold" type="submit" value="Submit" />
    </form>

    @section scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</section>